*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    background: #f4f4f4;
    color: #333;
}
header{
    background: #0078d7;
    color: #333;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}
nav ul li{
    margin: 0 15px;
}
nav a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
main{
    padding: 30px;
    min-height: 60vh;
}
footer{
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}